vti_encoding:SR|utf8-nl
vti_author:SR|frederik
vti_cachedlinkinfo:VX|S|sumhorsd.gif S|sumbul1d.gif S|sumbul2d.gif S|sumbul3d.gif S|sumbannd.gif S|sumhbudd.gif S|sumhbusd.gif S|sumvbudd.gif S|sumvbusd.gif S|sumhombd.gif S|sumnexbd.gif S|sumprebd.gif S|sumupbd.gif
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|25 Nov 1999 00:18:05 +0100
vti_filesize:IX|1564
vti_modifiedby:SR|frederik
vti_cacheddtm:TX|25 Nov 1999 00:18:06 +0100
vti_backlinkinfo:VX|
vti_cachedhasbots:BR|false
vti_extenderversion:SR|3.0.2.1330
vti_timelastmodified:TR|25 Nov 1999 00:18:05 +0100
